<div class="row p-0">
    <div class="shows-gifts-wrapper col-sm-6">

        <div class="form-group col-sm-12 mb-3">
            <!-- <button (click)="getSegmentDataList()"> test click</button> -->
            <label for="Pledge_Segment">Shows</label>
            <select id="PledgeList" class="form-control form-select" model="selected" #showList
                (change)="onShowListSelectionChanged(showList.value)">
                <option *ngFor="let item of ShowsList">{{item}}</option>
            </select>
        </div>
        <div class="form-group col-sm-12 mb-3">
            <label for="gift_list">Gifts</label>
            <div class="gift-list-wrapper p-2" id="Gift_List"
                style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <ul id="list_test" class="default-li-gifts ml-3">
                    <li *ngFor="let item of Filtereditems"><span style="font-size: 16px;">&#8226; </span>{{
                        item.itemName }}</li>
                    <ng-container *ngIf="JFSelected">
                        <li *ngFor="let item of JFTest">{{ item }}</li>
                    </ng-container>
                    <ng-container *ngIf="DPSelected">
                        <li *ngFor="let item of DP">{{ item }}</li>
                    </ng-container>
                </ul>
            </div>
            <div class="form-group mb-3">
                <label for="giftBtn">&nbsp;</label>
                <div class="input-group">
                    <a id="giftBtn" class="btn btn-primary" data-toggle="modal" data-target="#giftRequestModal">Gift
                        Requests</a>
                </div>
            </div>
        </div>
    </div>
    <div class="checkbox-list form-group mb-8 col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Pledge_Note">Pledge Notes</label>
                    <textarea class="form-control" id="Pledge_Note" value="Pledge.Note" name="note" rows="3"></textarea>
                </div>
                <div style="display: flex; flex-direction:column; align-items:flex-start">
                    <div class="inline mb-2">
                        <label for="Pledge_ReadOnAir" class="checkbox"
                            style="display: flex; flex-direction:row-reverse;">

                            <input *ngIf="IsEditMode" id="Pledge_ReadOnAir" type="checkbox" name="readOnAir"
                                value="true" />

                            <input *ngIf="IsEditMode" id="Pledge_ReadOnAir" type="checkbox" name="readOnAir"
                                value="true" checked="checked" />

                            <span></span>
                        </label>
                    </div>
                    <div class="inline mb-2">
                        <label for="Pledge_ReceiveProduct" class="checkbox"
                            style="display: flex; flex-direction:row-reverse;">

                            <input *ngIf="IsEditMode" id="Pledge_ReceiveProduct" type="checkbox" name="receiveProduct"
                                value="true" />

                            <input *ngIf="IsEditMode" id="Pledge_ReceiveProduct" type="checkbox" name="receiveProduct"
                                value="true" checked="checked" />
                            <span></span>
                        </label>
                    </div>
                    <div class="inline">
                        <label for="IsraelPledge" class="checkbox" style="display: flex; flex-direction:row-reverse;">

                            <input *ngIf="IsEditMode" id="IsraelPledge" type="checkbox" name="IsraelPledge"
                                value="true" />

                            <input *ngIf="IsEditMode" id="IsraelPledge" type="checkbox" name="IsraelPledge"
                                value="true" />

                            <span></span>
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!---------------------------- PLEDGE INFORMATION --------------------->
<div class="row p-0">
    <div class="from-group col-6 mb-3">
        <label for="Pledge_Appeal_List">Pledge Appeal</label>
        <select id="Pledge_Appeal_List" name="appealList" class="form-control">
            <option for="appeal in appeals"></option>
        </select>
    </div>
    <div class="form-group col-4 mb-3">
        <label for="Pledge_AmountPerPayment">Amount Per Payment</label>
        <input class="form-control m-input" id="Pledge_AmountPerPayment" value="Pledge.AmountPerPayment" type="number"
            name="amountPerPayment" />
    </div>
    <div class="form-group col-6">
        <label for="Pledge_Currency">Currency</label>
        <select id="Pledge_Currency" name="currency" class="form-control" (change)="update_foreign_currency_textbox()">
            <!-- @{string partnerDefaultCurrency = "";}
                @foreach (var country in countries.Select(c => new { c.Country.CurrencyCode, c.Country.Currency }).Distinct().ToList())
                { -->
            <!-- if (partnerCurrency == country.CurrencyCode.ToString())
                    { -->
            <!-- <option value="@country.CurrencyCode" selected>@country.Currency</option> -->
            <!-- partnerDefaultCurrency = country.Currency;
                    }
                    else
                    { -->
            <!-- <option value="@country.CurrencyCode">@country.Currency</option>
                    }
                } -->
            <option *ngFor="let item of countries">{{item.country.currency}}</option>
        </select>
    </div>
    <div class="form-group col-4">
        <label for="Pledge_NumberOfPayments">Number Of Payments</label>
        <input class="form-control m-input" id="Pledge_NumberOfPayments" [value]="Pledge.NumberOfPayments" type="number"
            name="numberOfPayments" />
    </div>
</div>
<div class="row m-1 mt-5" id="pledge-total-wrapper">
    <div class="form-group col-12 mt-6">
        <span class="font-size-h4" style="display: block; color:rgb(196, 85, 0)">
            <strong>Today's pledge total: <span>{{total}} US Dollars</span></strong>
        </span>
        <!-- <span *ngIf="Partner.Country =='US'" id="foreign-currency-total" class="font-size-h4" style="display: none;">{{totalForeignCurrency}} <span id="foreign-currency-code"></span> ({{foreignPayment}} per month</span>
                <span *ngIf="Partner.Country !=='US'" id="foreign-currency-total" class="font-size-h4">{{totalForeignCurrency}} <span id="foreign-currency-code"></span> ({{foreignPayment}} per month</span> -->
    </div>
</div>

<div class="p-3"></div>
<app-payment></app-payment>